@font-face {
    font-family: "inter";
    src:
        local("inter"),
        url(../fonts/Inter-Regular.ttf) format("truetype");
}
:root {
    --primary-color: #1565d8;
    --black-color: #000;
    --white-color: #fff;
    --color-BDBDBD: #bdbdbd;
    --color-8692A6: #8692a6;
    --color-494949: #494949;
    --color-696F79: #696f79;
    --inter: "inter";
}
html {
    font-size: 10px;
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
body {
    font-family: var(--inter), sans-serif;
    font-size: 1.6rem;
    word-wrap: break-word;
    color: var(--color-8692A6);
    background: var(--white-color);
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
a {
    text-decoration: none;
}
button {
    border: none;
}
/* components */
.title {
    font-weight: 700;
    font-size: 3rem;
    color: var(--black-color);
    margin-top: 16rem;
    margin-bottom: 2rem;
}
.caption {
    max-width: 35rem;
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-bottom: 4rem;
}
.button {
    padding: 2rem;
    font-weight: 500;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: all 120ms ease-in;
}
/* shapes */
.shape-1,
.shape-2,
.shape-3,
.shape-4 {
    position: absolute;
}
.shape-1 {
    top: 32.5rem;
}
.shape-2 {
    top: 22rem;
    right: 19rem;
}
.shape-3 {
    bottom: 36rem;
    right: 19rem;
}
.shape-4 {
    bottom: 0;
    left: 0;
}

.login-form {
    display: grid;
    grid-template-columns: 3.5fr 4fr;
    height: 1024px;
    margin: 0 auto;
    max-width: 1440px;
}

.login-form__content {
    height: 100%;
    position: relative;
    background: linear-gradient(rgba(21, 101, 216, 0.9), rgba(21, 101, 216, 0.9)), url("../Images/main-pic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem 8rem;
    color: var(--white-color);
}

.login-form__icon-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 30rem;
}
.login-form__icon {
}

.login-form__Description {
    line-height: 3.8rem;
    letter-spacing: 1px;
    margin-bottom: 3rem;
    max-width: 44rem;
    font-size: 2rem;
}
.login-form__label {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.7rem;
    font-size: 1.8rem;
}
.login-form__label-icon {
}
.login-items {
    margin-top: 6rem;
}
/* Join Us page*/
.join-us {
    text-align: left;
}
.join-us__already-have-account {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.8rem;
    text-align: right;
}
.join-us__already-have-account a {
    color: var(--primary-color);
}

.join-us__account-type {
    box-shadow: 0 2px 14px 1px rgba(0, 0, 0, 0.04);
    max-width: 52rem;
}
.join-us__account-type-links {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    padding: 4rem;
}
.join-us__account-type:hover .join-us__account-type-icon:first-child {
    fill: var(--primary-color);
}
.join-us__account-type:hover .join-us__account-type-icon:last-child {
    fill: var(--white-color);
}
.join-us__account-type-icon-wrapper {
    position: relative;
}
.join-us__account-type-text-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
}
.join-us__account-type-icon:last-child {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}
.join-us__account-type-title {
    font-weight: 500;
    color: var(--black-color);
}
.join-us__account-type-caption {
    color: var(--color-8692A6);
    font-size: 1.4rem;
    line-height: 1.7rem;
}
/* gesture */
.gesture {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5rem;
}
.gesture__back {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-8692A6);
}
.gesture__back-icon {
}
.gesture__label {
    display: flex;
    flex-direction: column-reverse;
    font-weight: 600;
    text-align: right;
}
.gesture__label span {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: right;
    margin-bottom: 0.5rem;
}
/*  */
.oasis-form {
    display: flex;
    flex-direction: column;
    max-width: 53rem;
    padding-left: 12rem;
}
.oasis-form__wrapper {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}
.oasis-form__wrapper label {
    margin-bottom: 1rem;
    font-weight: 500;
    color: var(--color-696F79);
}
.oasis-form__input {
    border: 1px;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1.7rem;
    outline: 1px solid var(--color-8692A6);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: all 120ms ease-in;
    -webkit-transition: all 120ms ease-in;
    -moz-transition: all 120ms ease-in;
    -ms-transition: all 120ms ease-in;
    -o-transition: all 120ms ease-in;
}
.oasis-form__input:focus {
    outline: 1px solid var(--primary-color);
    box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
    color: var(--black-color);
}
.oasis-form__input:focus::placeholder {
    color: var(--black-color);
}
.oasis-form__password-field {
    position: relative;
}
.oasis-form__password-show {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    font-size: 12px;
    color: var(--black-color);
    cursor: pointer;
}
.oasis-form__checkbox-wrapper {
    margin-bottom: 3rem;
}
.oasis-form__checkbox {
    width: 1.5rem;
    height: 1.5rem;
}
.oasis-form__checkbox-label {
    font-weight: 600;
}
.oasis-form__button {
    background-color: var(--primary-color);
    color: var(--white-color);
}
.oasis-form__button:hover {
    background-color: #114fa7;
}
.oasis-form__button:active,
.register-google:active {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}
.oasis-form > span,
.oasis-form__label {
    font-size: 1.2rem;
    text-align: center;
    margin: 3rem 0;
    color: #bababa;
}
.register-google {
    background-color: var(--white-color);
    color: var(--black-color);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10rem;
}
.register-google:hover {
    background-color: #ebebeb;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #1566d846 inset !important;
}
.complete-account {
}
.oasis-form__label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
input::-webkit-calendar-picker-indicator {
    opacity: 100;
}
.BVN__input {
    margin-bottom: 10rem;
    position: relative;
}
.verification-icon {
    position: absolute;
    top: 4rem;
    right: 0;
    margin-right: 2rem;
    display: none;
}
.verification-icon-show {
    display: inline-block;
}
